{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" />

<form
  action="{% url 'polls:vote' question.id %}"
  method="post"
  class="poll-form"
>
  {% csrf_token %}
  <fieldset class="poll-form__fieldset">
    <legend class="poll-form__legend">
      <h1 class="poll-form__question">{{ question.question_text }}</h1>
    </legend>
    {% if error_message %}
    <p class="poll-form__error"><strong>{{ error_message }}</strong></p>
    {% endif %} {% for choice in question.choice_set.all %}
    <div class="poll-form__choice">
      <input
        type="radio"
        name="choice"
        id="choice{{ forloop.counter }}"
        value="{{ choice.id }}"
        class="poll-form__input"
      />
      <label for="choice{{ forloop.counter }}" class="poll-form__label"
        >{{ choice.choice_text }}</label
      >
    </div>
    {% endfor %}
  </fieldset>
  <button type="submit" class="poll-form__button">Vote</button>
</form>
