{% load static %}

<!-- link to the CSS file -->
<link rel="stylesheet" href="{% static 'polls/style.css' %}" />

<!-- wrapper div for the questions list -->
<div class="questions-list">
  <!-- check if there are questions available -->
  {% if latest_question_list %}

  <!-- unordered list for the questions -->
  <ul class="questions-list__list">
    <!-- loop through each question -->
    {% for question in latest_question_list %}

    <!-- list item for each question -->
    <li class="questions-list__item">
      <a href="{% url 'polls:detail' question.id %}"
        >{{ question.question_text }}</a
      >
    </li>

    {% endfor %}
  </ul>

  {% else %}

  <!-- message if there are no questions available -->
  <p class="questions-list__no-questions">No polls are available.</p>

  {% endif %}
</div>
